body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    font-size: xx-large;
    line-height: 0%;
    color: black;
}

header p {
    font-size: large;
    margin-top: 5px;
    font-style: italic;
}

nav {
    padding: 1rem;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 1rem;
    font-weight: bold;
    font-size: x-large;

}

nav a:hover {
    color: grey;
}

nav li {
    list-style: none;
    display: inline;
}

.text-center {
    text-align: center;
}

.yellow-background {
    background-color: goldenrod;
    width: 100%;
}

.uppercase {
    text-transform: uppercase;
}

img {
    width: 50%;
}

#about-cont {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: large;
    text-align: center;
}

table {
    display: flex;
    justify-content: center;
    align-content: center;
}

#subs {
    color: white;
    padding: 1rem;
    font-weight: bold;
    font-size: x-large;
}

form {
    text-align: center;
}